div.slide

	
	//--------------
	//- row 1
	//--------------
	div.tile.col-1.row-1(
		class='w-h h-h l-n50 t-n50 color-1 left-right')
		//- 

	div.tile.col-3.row-1(
		class='w-q h-q l-0 t-n50 color-2 up-down')
		//- 
	div.tile.col-3.row-1(
		class='w-q h-q l-0 t-n25 color-3 up-down')
		//- 

	div.tile.col-4.row-1(
		class='w-q h-h l-25 t-n50 color-4 right-left')
		//- 
	div.tile.col-5.row-1(
		class='w-q h-h l-50 t-n50 color-2 right-left')
		//- 

	div.tile.col-6.row-1(
		class='w-h h-h l-75 t-n50 color-2 bg-2 right-left')
		//- 

	div.tile.col-7.row-1(
		class='w-q h-h l-125 t-n50 color-2 up-down')
		//- 

	//--------------
	//- row 2
	//--------------
	//- external left
	div.tile.col-1.row-2(
		class='w-h h-h l-n50 t-0 color-2 left-right')
		//- 
	//-

	div.tile.col-3.row-2(
		class='w-h h-h l-0 t-0 color-1 bg-2 up-down')
		//- 

	div.tile.col-5.row-2(
		class='w-q h-q l-50 t-0 color-3 up-down')
		//- 
	div.tile.col-6.row-3(
		class='w-q h-q l-50 t-25 color-2 right-left')
		//- 

	div.tile.col-7.row-2(
		class='w-q h-h l-75 t-0 color-4 right-left')
		//- 

	//- external right
	div.tile.col-8.row-2(
		class='w-h h-h l-100 t-0 color-1 bg-2 right-left')
		//- 
	//-

	//--------------
	//- row 3
	//--------------
	//- external left
	div.tile.col-1.row-3(
		class='w-q h-h l-n50 t-50 color-4 up-down')
		//- 
	div.tile.col-2.row-3(
		class='w-q h-h l-n25 t-50 color-1 left-right')
		//- 
	//-

	div.tile.col-3.row-3(
		class='w-q h-q l-0 t-50 color-3 left-right')
		//- 
	div.tile.col-3.row-3(
		class='w-q h-q l-0 t-75 color-2 down-up')
		//- 

	div.tile.col-4.row-3(
		class='w-h h-h l-25 t-50 color-1 up-down')
		//- 

	div.tile.col-6.row-5(
		class='w-q h-q l-75 t-50 color-2 bg-5 down-up')
		//- 
	div.tile.col-6.row-6(
		class='w-q h-q l-75 t-75 color-3 bg-1 right-left')
		//- 

	//- external right
	div.tile.col-7.row-3(
		class='w-h h-h l-100 t-50 color-3 bg-3 right-left')
		//- 
	//-
