div.slide

	//- slide 2

	//--------
	//- row 4
	//--------
	//- external left
	div.tile.row-4.col-1(
		class=' w-h h-h l-n50 t-0 color-2 down-up')
	//-
	
	.tile.row-4.col-3(
		class=' w-h h-h l-0 t-0 color-1 bg-4 up-down')

	div.tile.row-4.col-5(
		class=' w-q h-q l-50 t-0 color-3 up-down')
	div.tile.row-4.col-5(
		class=' w-q h-q l-50 t-25 color-2 right-left')

	div.tile.row-4.col-6(
		class=' w-q h-h l-75 t-0 color-4 right-left')

	//- external right
	div.tile.row-4.col-7(
		class=' w-h h-h l-100 t-0 color-1 bg-2 right-left')
	//-

	//--------
	//- row 5
	//--------
	div.tile.row-5.col-(
		class=' w-q h-q l-0 t-50 color-4 left-right')
	div.tile.row-5.col-(
		class=' w-q h-q l-0 t-75 color-2 down-up')

	div.tile.row-5.col-(
		class=' w-h h-h l-25 t-50 color-3')

	div.tile.row-5.col-(
		class=' w-q h-q l-75 t-50 color-2 down-up')
	div.tile.row-5.col-(
		class=' w-q h-q l-75 t-75 color-3 bg-1 down-up')
